%h2#month
  = link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m"), class: 'previous'
  = h @date.strftime("%B %Y") 
  = link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m"), class: 'next' 
  
= calendar_for @calendar_nodes, :year => @date.year, :month => @date.month do |calendar| 
  = calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')
  = calendar.day(:day_method => :start_time )  do |date, nodes| 
    = date.day
    %ul
      - for node in nodes 
        %li
          = link_to 'X', node, method: :delete, data: { confirm: 'Are you sure?' }, remote: true 
          = link_to h(node.task_name), node