%h1 Listing tasks

%table
  %tr
    %th Tasks
    %th Due date
    %th Priority
    %th Note
    %th Estimated time
    %th ShowDescription
    %th 
    %th
    %th 
    %th
- @nodes.each do |node| 
  %tr
    - if node.type == 'Task' 
      .task{ data: { 'task-id' => node.id } }
        %td= node.task_name
        %td= node.due_date 
        %td= node.priority 
        %td= node.note 
        %td= node.estimated_time 
        - change = "display:none"
        - change2 = "display:block"
        - case node.state
        - when 'active'
          - caption = 'pause'
          - change = "display:block" 
        - when 'paused'
          - caption = 'resume' 
        - when 'to_do'
          - caption = 'start'  
        - when 'finished'
          - change2 = "display:none"
          - caption = 'lala'

        %td= link_to caption.capitalize, '#', class: caption, style: change2
        %td= link_to 'Finish', '#', class: 'finish', style: change 
        %td= link_to 'Show', node 
        %td= link_to 'Edit', edit_task_path(node) 
        %td= link_to 'Destroy', node, method: :delete, data: { confirm: 'Are you sure?' } 
        - if node.type == 'Task'
          %td= link_to 'ShowDescription', '#', class: 'link-show-description'
          .hidden-description(style="display:none")= node.note 
    - else 
      %td= node.project_title 
      %td= link_to 'Edit', edit_project_path(node) if node.type == 'project'
    %br
.hidden-form(style="display:none")    
  = simple_form_for @interruption, url: '#' do |f|
    = f.input_field :name, class: 'name-input' 
    = f.input_field :description, class: 'description-input' 
    = link_to 'Create interruption', '#', class: 'link_create_interruption' 

- #link_to 'New Task', new_task_path 
= link_to('New Task', '#NewtaskModal', data: { toggle: 'modal' } )
.sidebar(style="display:inline")
  = render 'projects/form' 
  = render 'form'
  = render 'filter/form'


