%p#notice= notice 
.thumbnail
  .caption
    %p
      %b Task:
      = @task.task_name 

    %p
      %b Due date:
      = @task.due_date

    %p
      %b Priority:
      = @task.priority 

    %p
      %b Note:
      = @task.note 

    %p
      %b duration unproductive time :
      - suma = 0.0
      - @task.interruptions.where('interruptions.duration IS NOT NULL  ').each do |valor|
        - suma = suma + valor.duration  
      = suma

    %p
      %b duration productive time:  
      = #seconds = DateTime.parse(params[:finish_time].to_s) - DateTime.parse(params[:created_at]) 
= link_to 'Edit', edit_task_path(@task)  |
= link_to 'Back', tasks_path 
