<%= simple_form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :task_name %>
  </div>
  <div class="field">
    <%= f.input :due_date %>
  </div>
  <div class="field">
    <%= f.input :priority %>
  </div>
  <div class="field">
    <%= f.input :note %>
  </div>
  <div>
    <%= f.select :parent_id, nested_set_options(Project, @parent) {|i, level| "|#{'-' * level} #{i.project_title}" } %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
