<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Tasks</th>
    <th>Due date</th>
    <th>Priority</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nodes.each do |node| %>
  <tr>
    <%- if node.type == 'Task' %>
      <td><%= node.task_name %></td>
      <td><%= node.due_date %></td>
      <td><%= node.priority %></td>
      <td><%= node.note %></td>
      <td><%= link_to 'Show', node %></td>
      <td><%= link_to 'Edit', edit_task_path(node) %></td>
      <td><%= link_to 'Destroy', node, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%- else %>
      <td><%= node.project_title %></td>
      <td><%= link_to 'Edit', edit_project_path(node) if node.type == 'project' %></td>
    <%- end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>

<div class="sidebar" style="display:inline">
  <%= render 'projects/form' %>
</div>
